App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d9c9bc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #69523b; 
}

.App-link {
  color: #69523b; 
}

card {
  position: relative; /* Posizione relativa */
  width: 300px; /* Larghezza del card */
  height: 300px; /* Altezza del card */
  background-color: #f0f0f0; /* Colore di sfondo del card */
  border: 1px solid #ccc; /* Bordo del card */
  border-radius: 8px; /* Arrotonda i bordi del card */
  overflow: hidden; /* Nasconde il contenuto oltre i limiti del card */
}

.card-image {
  position: absolute; /* Posizione assoluta */
  top: 0; /* Posizione in alto */
  left: 50%; /* Posizione al centro */
  transform: translateX(-50%); /* Sposta l'immagine al centro */
  width: 200px; /* Larghezza dell'immagine */
  height: auto; /* Altezza automatica */
  aspect-ratio: 1 / 1; /* Rapporto di aspetto 1:1 */
}

.social-buttons {
  position: absolute;
  bottom: 20px; /* Regola la distanza dal fondo del card */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.social-button {
  background-color: #69523b;
  color: white;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 10px;
  text-decoration: none;
}

.social-button:hover {
  background-color: #69523b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}